Source: argparse
Priority: optional
Section: python
Maintainer: Ritesh Raj Sarraf <rrs@researchut.com>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7), python
Build-Depends-Indep: python-support, python-sphinx
Standards-Version: 3.8.4
XS-Python-Version: >=2.4
Vcs-Svn: svn://svn.debian.org/svn/python-modules/packages/argparse/trunk
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/argparse/trunk/
Homepage: http://code.google.com/p/argparse/

Package: python-argparse
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Suggests: python-argparse-doc
XB-Python-Version: ${python:Versions}
Description: optparse-inspired command-line parsing library
 Argparse takes the best of the optparse command-line parsing module
 and brings it new life. Argparse adds positional as well as
 optional arguments, the ability to create parsers for sub-commands,
 more informative help and usage messages, and much more. At the
 same time, it retains the ease and flexibility of use that made
 optparse so popular

Package: python-argparse-doc
Section: doc
Architecture: all
Recommends: python-argparse, doc-base
Depends: libjs-jquery, ${misc:Depends}
Replaces: python-argparse (<< 1.0.1-2)
Description: optparse-inspired command-line parsing library - doc
 Argparse takes the best of the optparse command-line parsing module
 and brings it new life. Argparse adds positional as well as
 optional arguments, the ability to create parsers for sub-commands,
 more informative help and usage messages, and much more. At the
 same time, it retains the ease and flexibility of use that made
 optparse so popular
 .
 This package contains the library documentation for python-argparse
